<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add  key="provider" value="System.Data.SqlClient"/>
		<add  key="connectionString" value="Data Source=roverdev\roversql;Integrated Security=True"/>
	</appSettings>
   
    <connectionStrings>
        <add name="ROVER.Properties.Settings.ConnectionString" connectionString="Data Source=roverdev\roversql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>